<div class="burgers">
    <div>
        <h2>Burgers that have not been devoured</h2>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>{{burger_name}} <button class="tbDevoured" data-id="{{id}}"
                    data-burger="{{devoured}}">DEVOUR</button></li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div>
        <h2>Burgers that have been devoured</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>{{burger_name}} <button class="tbPuke" data-id="{{id}}" data-burger="{{devoured}}">UP CHUCK</button></li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="form">
    <form class="create-form">
        <div class="form-group form-stuff">
            <label for="new-burger">Burger Name:</label>
            <input type="text" id="new-Burger" name="name" placeholder="Enter new burger here">
        </div>
        <button type="submit">WELCOME TO FLAVOR TOWN</button>
    </form>
</div>